.idea/dataSources.xml
.idea/sqldialects.xml
.idea/vcs.xml
bin/
db/sqlc/db.go
db/sqlc/models.go
db/sqlc/user.sql.go
db/sqlc/ingredient.sql.go
db/sqlc/transfer.sql.go
db/sqlc/entry.sql.go
go.sum
go1.17.7.linux-amd64.tar.gz
pkg/